*.o
*.so
*.mp4
*.jpg
triton.log

src/deepstream-test1
src/deepstream-test4
src/deepstream-test5*
src/deepstream-image-meta-test
src/deepstream-app/deepstream-app
src/deepstream-opencv-test
src/gst-dsexample
src/deepstream-app/output
src/gst-nvtracker
src/gst-videorecognition/build

.vscode

*.onnx
*.engine
*.log
