[submodule "DeepStream-Yolo"]
	path = DeepStream-Yolo
	url = https://github.com/karmueo/DeepStream-Yolo.git
	branch = feat/yolo26
	ignore = dirty
[submodule "sot_plugin"]
	path = sot_plugin
	url = git@github.com:karmueo/deepstream_sot_plugin.git
	ignore = dirty
[submodule "src/gst-udpmulticast_sink"]
	path = src/gst-udpmulticast_sink
	url = git@github.com:karmueo/deepstream_udpmulticast_sink.git
	ignore = dirty
[submodule "src/gst-videorecognition"]
	path = src/gst-videorecognition
	url = git@github.com:karmueo/gstvideorecognition.git
[submodule "src/gst-udpjson_meta"]
	path = src/gst-udpjson_meta
	url = https://github.com/karmueo/gst-udpjson_meta.git
