[submodule "nvdsinfer_yolo_efficient_nms"]
	path = nvdsinfer_yolo_efficient_nms
	url = https://github.com/karmueo/nvdsinfer_yolo_efficient_nms.git
[submodule "DeepStream-Yolo"]
	path = DeepStream-Yolo
	url = https://github.com/marcoslucianops/DeepStream-Yolo.git
